@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Rubik+Wet+Paint&display=swap');



body {
    height: auto;
    width: auto;
    margin: 0.5rem;
    color: white;
    background-color: #050404;
    font-family: 'Montserrat', sans-serif;

}


#esp_do_jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background-color: #101010;
    padding: 15px;
    margin: 4rem 1rem;

}

#quant_questoes {
    padding: 0px 22px;
    margin-top: 15px;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 1.5rem;
    color: #08226C;
}

#enun_perg {
    text-align: center;
    font-size: 1.2rem;
    padding: 35px 5px;
}

#alternativas {
    flex-direction: row;
    padding: 15px 90px;
    margin: 1.5rem 1rem;
    border-radius: 16px;
    gap: 5px;
}

#answer {
    padding: 15px 35px;
    margin: 10px 0px;
    background-color: #050404;
    border:  solid 1px #050404;
    border-radius: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: aliceblue;
}

#answer:hover {
    font-size: 1rem;
    background-image: linear-gradient(80deg, #08226C 0%, #050404 100%);
    transition: 0.4s;
}


#inicio_quiz {
    display: flex;
    justify-content: center;
    padding: 10px 70px;
    border-radius: 18px;
    font-size: 1rem;
    border: solid 1px #050404;
    background-color: #050404;
    color: white;
}

#inicio_quiz:hover {
    background-image: linear-gradient(90deg, #08226C 0%, #1D5C94 100%);
    transition: 0.6s;
    cursor: pointer;
    font-size: large;
}


#reset {
    display: flex;
    justify-content: center;
    padding: 10px 62px;
    border-radius: 18px;
    margin: 20px 0px;
    font-size: 1rem;
    border: solid 1px #050404;
    background-color: #050404;
    color: white;
}

#reset:hover {
    background-image: linear-gradient(90deg, #08226C 0%, #1D5C94 100%);
    transition: 0.6s;
    cursor: pointer;
    font-size: large;
}

#rodape_Quiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: x-small;

}

#rodape_Quiz:hover {

    transition: 0.2s;
    font-size: medium;
    cursor: pointer;


}