/* Página de Códigos Css - Página de Estudos (Curso em Vídeo*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Raleway&family=Work+Sans&display=swap');




body {
    padding: 0;
    margin: 0;
    background-color: #101010;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}




/*Navegação*/
.nav_bar {
    height: 100px;
    padding: 20px 20px;
    margin: 20px 0px 80px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #E5E5E5;
    font-family: "Raleway", sans-serif;
}




.img_logo {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    image-rendering: optimizeQuality;
}

.nav_space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

.nav_space ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item_nav {
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #181818;
    color: #2a9d8f;
    border-radius: 15px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: bolder;
}

.item_nav a:link,
a:visited {
    text-decoration: none;
    color: currentColor;
}

.item_nav :hover {
    opacity: 1.0;
    font-size: 120%;
    transition: 0.4s;
    cursor: pointer;
    color: #f5cb5c;
}


/*Barra de ítens*/

#sec1-item-bar {
    padding: 15px 0px;
    margin: 50px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Work', sans-serif;
}

.item {
    background: fixed linear-gradient(90deg, hsla(44, 85%, 57%, 1) 0%, hsla(0, 0%, 0%, 1) 71%, hsla(265, 68%, 45%, 1) 100%);
    ;
    width: auto;
    padding: 20px;
    border-radius: 15px;
}


.item:hover {
    border: #f5cb5c solid 4px;
    transition: 0.2s;
    letter-spacing: 1px;
}

.sec2-form-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-user {
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #181818;
}

.form-user h1 {
    color: aliceblue;
    font-family: 'Work', sans-serif;
    font-size: 1.8rem;

}

.form-user p {
    color: aliceblue;
    text-align: left;
}


#mesniveruser {
    margin: 25px 0px;
    min-height: 20px;
    padding: 8px 30px;
    background-color: #1b1b1b;
    border: solid 2px #1b1b1b;
    border-radius: 18px;
    color: #ffffff;

}

#botao_sec2 {
    padding: 10px 20px;
    background-color: #1b1b1b;
    border: solid 2px #1b1b1b;
    border-radius: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 25px 0px;
    color: #f5cb5c;
}

#botao_sec2:hover {
    font-size: 110%;
    letter-spacing: 1px;
    background-color: #f5cb5c;
    transition: 0.4s;
    color: #101010;
}

#sec_2 {
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}



.titulo_calc {
    font-size: 1.8rem;
    font-family: 'Work' sans-serif;
    padding: 10px;
}

.calc {
    margin: 2rem -1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://wallpapercave.com/wp/wp11176556.jpg");
    background-size: cover;
}


.calc input {
    margin: 15px 0px;
    padding: 10px 45px;
    background-color: #1b1b1b;
    border: solid 2px #1b1b1b;
    border-radius: 18px;
    color: #ffffff;

}

#botao_sec3 {
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #1b1b1b;
    border: solid 2px #1b1b1b;
    border-radius: 18px;
    color: #f5cb5c;
    margin: 25px 0px;

}

#botao_sec3:hover {
    background-color: #f5cb5c;
    border: #f5cb5c solid 4px;
    transition: 0.2s;
    color: #101010;
    font-size: 105%;
    letter-spacing: 1px;

}

#res {
    margin: 2rem 0rem;
    background-color: #151515;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f5cb5c;
    letter-spacing: 1px;
}

.tst_nac {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    margin: 1rem 0rem;
    background-color: #151515;
    border-radius: 14px;
}

.tst_nac h2 {
    padding: 5px;
    font-size: 1.8rem;
    font-family: 'Work', sans-serif;
    letter-spacing: 1px;
}

.tst_nac input {
    width: 350px;
    margin: 15px 0px;
    padding: 12px 5px;
    background-color: #1b1b1b;
    border: solid 2px #1b1b1b;
    border-radius: 18px;
    color: #ffffff;
}

#botão_tst_nac {
    margin: 25px 0px;
    padding: 10px 10px;
    background-color: #1b1b1b;
    border: solid 2px #1b1b1b;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #f5cb5c;
}

#botão_tst_nac:hover {
    background-color: #f5cb5c;
    border: #f5cb5c solid 2px;
    transition: 0.2s;
    color: #101010;
    font-size: 105%;
    letter-spacing: 1px;

}

.Exer-1 {
    margin: 2rem 0rem;
    padding: 10px 10px;
    background-color: #f5cb5c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Exer-1 img {
    max-width: 70%;
    height: 70%;
    border-radius: 10px;
}


.container-sec_8 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work", sans-serif;
    background-color: #151515;
    text-align: left;
}


.container-sec_8 p {
    display: flex;
    text-align: left;
    font-weight: 300;
    color: #ffffff;
}

.tit-form-us {
    display: flex;
    text-align: left;
    padding: 10px 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: #2a9d8f 1px 1px 8px;
}

.info-us {
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.info-us form {
    margin: 5px 0px;
    padding: 25px 40px;
    box-shadow: 5px 5px 10px rgba(148, 210, 189, .100);
    background-color: #181818;
    border-radius: 10px;
    text-align: left;

}

.info-us label {
    color: #83c2ba;
    font-weight: 600;
}

.input-box-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-box {
    margin: 5px 0px;
    display: flex;
    padding: 10px 0px;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    text-align: left;

}


.input-box input {
    padding: 8px;
    margin-left: 10px;
    background-color: #000000;
    border-radius: 12px;
    border: none;
    color: #E5E5E5;
    box-shadow: 1px 1px 1px #132c29;
}


.input-box-gender {
    margin: 5px 0px;
    display: flex;
    padding: 10px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.form-button {
    display: flex;
    justify-content: center;
}

.form-button1-enviar {
    margin: 20px 0px;
    padding: 10px 150px;
    background-color: #1b1b1b;
    border: solid 3px #1b1b1b;
    color: #f5cb5c;
    border-radius: 15px;
    cursor: pointer;
}

.form-button1-enviar:hover {
    background-color: #f5cb5c;
    border: solid 2px #f5cb5c;
    border-radius: 15px;
    transition: 0.4s;
    font-size: 110%;
    color: #101010;
}

#foto_ret_usr {
    margin: 30px 0px;
    width: 30%;
    height: 55%;
    border-radius: 50%;
    image-rendering: optimizeSpeed
}

.ret_usr {
    margin: 30px 25px;
    padding: 15px;
    background: #5b7471;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3f2f1;
    text-shadow: 1px 1px 10px #000000 .250;
}


.relogio {
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
    border-radius: 15px;
}

/*Footer-Rodapé*/


.rodape {
    padding: 15px;
    width: auto;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: 6rem -10rem;
    color: #f5cb5c;
    background-color: #151515;
}